
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="reset.css">
</head>
<body>
    <header>
        <div id="navegador">
            <nav class="navegador">
                <div class="logo_colpatria">
                    <ul>
                        <li><a href="#"><img><span>logo</span></a></li>
                        <li><a href="#">Colpatria scotibank</a></li>
                    </ul>
                </div>
                <div class="usuario">
                    <ul>
                        <li><a href="#"><span>User</span></a></li>
                        <li><a href="#"><img><span>Foto</span></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section class="selector">
        <div class="seleccion">
            <ul>
                <li><a><span>Provedores</span></a></li>
                <li><a><span>Seguimiento</span></a></li>
            </ul>            
        </div>
    </section>
    <section>
        <p></p>
    </section>
</body>
</html>
