
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Scotia Suppliers Admin</title>
    <link href="~/Design/Management/main.css" rel="stylesheet" />
    <link href="~/Design/Management/reset.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div id="navegador">
            <nav class="navegador">
                <div class="logo_colpatria">
                    <ul></ul>
                </div>
                <div class="usuario">
                    <ul>
                        <li><a href=""><img src="~/Design/Management/go.png"></a></li>
                        <h1><a href="">Duvan Pedroza</a></h1>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section class="selector">
        <div class="seleccion">
            <ul>
                <li><a><span>Provedores</span></a></li>
                <li><a><span>Seguimiento</span></a></li>
            </ul>
        </div>
    </section>
    <section>
        <p></p>
    </section>
</body>
</html>