*{
  box-sizing: border-box;
  padding: 0;
}
body {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  width: 100%;
  color: #3b4045;
  font: 14px/22px 'Source Sans Pro', sans-serif, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0px; }

h1 {
  font-size: 44px;
  line-height: 56px;
  color: #fff; }

h2 {
  font-size: 30px;
  line-height: 35px; }

h3 {
  font-size: 23px;
  line-height: 25px; }

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400; }

p {
  font-size: 16px;
  line-height: 25px;
  margin: 0px; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none; }

a,
a:active,
a:focus,
a:active {
  text-decoration: none; }

.section {
  padding: 100px 0; }


/*--
    .hero-area start
--*/
.bg-1 {
  background-image: url("../images/edificio.jpg");
  background-size: cover;
  background-attachment: fixed; }

.bg-gray {
  background: #f8f8f8; }

.hero-area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero-area h1 {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 19px;
    margin-top: 30px; }
  .hero-area p {
    color: #fff;
    font-size: 20px;
    line-height: 1.3; }
  .hero-area .counter {
    background: rgba(255, 255, 255, 0.2);
    padding: 18px; }
    .hero-area .counter ul li {
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;
      display: inline-block;
      line-height: 25px;
      padding: 25px 28px 20px;
      text-align: center;
      width: 49%;
      margin-bottom: 3px; }
      .hero-area .counter ul li span {
        display: block;
        font-size: 16px;
        font-weight: 600; }
      .hero-area .counter ul li .digit {
        display: inline-block;
        font-size: 50px;
        font-weight: bold;
        line-height: 50px;
        position: relative;
        overflow: hidden;
        height: 60px; }

/*--
    custom heading
--*/
.text-center {
  text-align: center; }

.heading {
  text-align: center;
  color: #777777;
  padding-bottom: 70px; }
  .heading h2 {
    color: #3c3c3c;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px; }
  .heading p {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 300; }

.btn {
  border-radius: 0;
}

.btn-home {
  background-color: #ec1c2c;
  position: absolute;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  padding: 10px 40px;
  margin-top: 30px;
}
.btn-home:hover, .btn-home:focus {
  background-color: rgba(211, 202, 202, 0.26);
  color: rgb(255, 255, 255);

  border: 1px solid #817f7f;
}

/*--
    service start
--*/
.service {
  text-align: center;
}
  .service .block {
    margin-bottom: 100px;
  }
    .service .block i {
      font-size: 30px;
      display: inline-block;
      margin-bottom: 15px;
      color: #1bafb4; }
    .service .block h3 {
      color: #333333;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 1px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .service .block p {
      color: #666; }

/*--
    About start
--*/
.about .content h3 {
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  color: #7e7e7e;
  margin-bottom: 20px;
  font-family: 'Droid Serif', serif; }

.about .about-slider img {
  width: 100%;
  height: auto; }

.profile-img{
  position: relative;
  border: 2px solid black;
  border-radius: 50%; 
}

.prov{
  margin-top: 20%;
  margin-left: 10%;
}

.segui{
  margin-top: 20%;
  margin-left: 50%;
}


.navegador{
  display: flex;
    position: absolute;
    float: left;
    margin-left: 10vh;
    margin-top: 10vh;
    width: 55%;
    height: 60%;
    
}

.logo_colpatria{
  
  justify-content: center;
  height: 100%;
}

.usuario ul li img{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    margin: 10px 40px 0px 0px;
    background-color: rgb(255, 255, 255);
    float: right;
}

.animated2 { 
  animation-duration: 20s; 
  animation-fill-mode: both; 
  animation-iteration-count:infinite; 
  position: absolute;
  align-content: center;
} 

@keyframes flash {
  25%, 75% {
      opacity: 1;
      }
  0%, 50%, 100% {
  opacity: 0;
  }
 
 }
 .flash {
  -webkit-animation-name: flash;
  animation-name: flash;
 }


  @keyframes flash2 {
    25%, 75% {
        opacity: 0;
        }
    0%, 50%, 100% {
    opacity: 1;
    }
   
   }
   .flash2 {
    -webkit-animation-name: flash2;
    animation-name: flash2;
    
  padding-left: 15%;
   }