*{
    box-sizing: border-box;
    margin: 0%;
}
.content{
    width: 80%;
    height: 100vh;
    background-color: rgb(243, 242, 239);
    margin-left: 10%;
}
 
.boxes{
    width: 20%;
    height: 50%;
}

.img{
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
}

.go-products{
    border: 1px solid rgb(143, 0, 10);
    align-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50%;
}

section{
    display: flex;
}