
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proveedores</title>

    <link href="~/Design/Proveedores/CSS/prodcts.css" rel="stylesheet" />
    <link href="~/Design/Proveedores/CSS/media-queries.css" rel="stylesheet" />
    <link href="~/Design/Proveedores/CSS/main.css" rel="stylesheet" />
    <link href="~/Design/Proveedores/CSS/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Design/Proveedores/CSS/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Design/Proveedores/CSS/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Design/Proveedores/CSS/animate.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <!--<div id="navegador">
        <nav class="navegador">
            <div class="logo_colpatria">
                <ul>
                    <li><a href="#"><img><span>logo</span></a></li>
                    <li><a href="#">Colpatria scotibank</a></li>
                </ul>
            </div>
            <div class="usuario">
                <ul>
                    <li><a href="#"><span>User</span></a></li>
                    <li><a href="#"><img></a><span>Foto</span></a></li>
                </ul>
            </div>
        </nav>
    </div>-->

    <div class="content">
        <section class="boxes">
            <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated animated img" data-wow-duration="500ms" style="visibility: visible; animation-duration: 500ms; animation-name: fadeInUp;">
                <div class="member-thumb">
                    <img src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Instagram-512.png" alt="Team Member" class="img-responsive">
                    <figcaption class="overlay">
                        <h5>Nombre del Proveedor</h5>
                        <p>Descripción</p>
                        <ul>
                            <li class="go-products"><a href="https:\\www.google.com">Productos</a></li>
                        </ul>
                    </figcaption>
                </div>
            </figure>
        </section>

    </div>
    <script src="~/Design/Proveedores/script.js"></script>
</body>
</html>