
/* navegador */
*{
    box-sizing: border-box;
    padding: 0;
}
body{
    width: 100%;
}
header{
    width: 100%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}
header{
    display: inline;
}
.navegador{
    display: inline;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.nombre{
    font-family: 'Courgette', cursive;
    margin-left: 30px; 
}
.usuario ul h1{
    width: 200px;
    height: 50px;
    display: block;
    margin: 15px 10px;
    float: right;
    font-family: sans-serif;
    font-size: 1.5em;
}
.usuario ul li img{
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    margin: 10px 40px 10px 0px;
    background-color: darkgray;
    float: right;
    
}

/* seccion1*/
section{
    width: 100%;
    height: 89vh;
    background: url(logol.jpg);
    background-size: cover;
    background-repeat: none; 
}
section{
    display: inline;
}
.seleccion{
    display: inline;
}
.seleccion ul li{
    text-shadow: 1px 1px 20px #000000;
    background-color: 	#8B0000;
    width: 100%;
    height: 45px;
    display: block;
    float: right;
    font-size: 2em;
    margin: 0% 12%;
}
.seleccion ul h2{
    
    text-shadow: 1px 1px 20px #000000;
    background-color: 	#8B0000;
    width: 100%;
    height: 45px;
    display: block;
    float: right;
    font-size: 2em;
    margin: 0% 5%;
    }
.seleccion ul li a{
    margin: ;
    color:white;
    margin: 30pc 15px;
    font-family: fantasy;
    width: 100%;
}
.seleccion ul h2 a{
    margin: 0;
    color:white;
    margin: 30pc 15px;
    font-family: fantasy;
    width: 100%;
}

/*logo*/

.animated { 
    animation-duration: 3s; 
    animation-fill-mode: backwards;
    animation-iteration-count:infinite; 
    position: absolute;
} 
.animated2 { 
    animation-duration: 20s; 
    animation-fill-mode: both; 
    animation-iteration-count:infinite; 
    position: absolute;
} 

@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;}
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
.fadeIn { 
    animation-name: fadeIn; 
}
@keyframes fadeOut {
    0% {opacity: 1;} 
    100% {opacity: 0;} 
    0% {opacity: 0;} 
    100% {opacity: 1;}
} 
.fadeOut { 
    animation-name: fadeOut; 
}

@keyframes flash {
    25%, 75% {
        opacity: 1;
    }
    0%, 50%, 100% {
        opacity: 0;
    } 
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

@keyframes flash2 {
    25%, 75% {
        opacity: 0;
        }
    0%, 50%, 100% {
    opacity: 1;
}

}
.flash2 {
    -webkit-animation-name: flash2;
    animation-name: flash2;
    padding-top: 5px;
}

.search{
    width: 100%;
    height: 30px;
    background-color: #ec1c2c;
    float: right;
    padding-left: 80%;
    padding-top: 5px;
    margin-top: 0px;
    margin-right: 0%;
}
 

