*{
    box-sizing: border-box;
    margin: 0%;
}
.content{
    width: 80%;
    height: 100%;
    background-color: rgb(243, 242, 239);
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
 
.boxes{
    width: 200px;
    height: 200px;
    margin-right: 150px;
    margin-bottom: 100px;
}

.img{
    margin-left: 10%;
    margin-top: 10%;
    width: 100%;
}

.go-products{
    border: 1px solid rgb(143, 0, 10);
    align-content: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
    text-decoration: none;
}

