*{
    box-sizing: border-box;
    margin: 0%;
}
header{
    height:65px;
}
.content{
    width: 100%;
    display:flex;
    flex-wrap:wrap; 
    justify-content: center;
}
 
.boxes{    
    width:250px;
    height:250px;
    margin-top:40px;
    margin-right: 70px;
    margin-bottom:25px;
}

.boximg{   
    height:250px;
    width:250px;
}

.go-products{
    border: 1px solid white;
    align-content: center;
    padding: 1%;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
}

